<div class="app-body">
  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Загрузка...</p>
  </ngx-spinner>
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">

                  <h1>Войти</h1>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" [(ngModel)]="email" class="form-control" placeholder="Email" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" [(ngModel)]="password" class="form-control" placeholder="Пароль" required>
                  </div>
                <div *ngIf="!isEmailValid"
                     class="alert alert-danger">
                  E-mail введен неверно!
                </div>
                  <div class="row">
                    <div class="col-6">
                      <button type="button" (click)="login()" class="btn btn-primary px-4">Войти</button>
                    </div>
                  </div>
                <a routerLink="/reset">Забыли пароль?</a>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Регистрация</h2>
                  <p>Зарегистрируйтесь, чтобы получить доступ к IT Univer и возможность добавлять курсы</p>
                  <button type="button" routerLink="/register" class="btn btn-primary active mt-3">Регистрация</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<ng2-toasty [position]="'bottom-right'"></ng2-toasty>
