<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Настройки профиля
    </div>
    <div class="card-body">
      <div>
        <div class="img">
          <div class="img__overlay">
            <label>
              <img class="avacamera" src="assets/img/camera.png">
              <input type="file" (change)="fileChange($event)" style="display: none;" accept=".png,.jpg,.jpeg">
            </label>
          </div>
          <img [src]="avatar" />
        </div>
      </div>
      <div class="input-group mb-3" style="padding-top: 10px">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-user"></i></span>
        </div>
        <input [(ngModel)]="firstName" type="text" class="form-control" placeholder="Имя"  name="name" required>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-user"></i></span>
        </div>
        <input [(ngModel)]="lastName" type="text" class="form-control" placeholder="Фамилия"  name="name" required>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-user"></i></span>
        </div>
        <input [(ngModel)]="fatherName" type="text" class="form-control" placeholder="Отчество"  name="name" required>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">@</span>
        </div>
        <input type="text" [(ngModel)]="email" class="form-control" placeholder="Email" name="email" required>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">+7</span>
        </div>
        <input type="text" [(ngModel)]="phone" mask="0000000000" class="form-control" placeholder="Телефон" name="phone" required>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-user"></i></span>
        </div>
        <input type="text" [(ngModel)]="speciality" class="form-control" placeholder="Специальность" name="speciality">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-user"></i></span>
        </div>
        <input type="text" [(ngModel)]="course" class="form-control" placeholder="Курс" name="course">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-home"></i></span>
        </div>
        <select class="form-control" name="city" [(ngModel)]="cityId">
          <option  *ngFor="let city of data.cities" [value]="city.id">
            {{city.name}}
          </option>
        </select>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-home"></i></span>
        </div>
        <select class="form-control" name="city" [(ngModel)]="universityId">
          <option  *ngFor="let university of data.universities" [value]="university.id">
            {{university.name}}
          </option>
        </select>
      </div>
      <hr/>
      <div *ngIf="!allCorrect"
           class="alert alert-danger">

        <div *ngIf="!isNameCorrect">
          Имя введено неверно!
        </div>
        <div *ngIf="!isEmailValid">
          E-mail введен неверно!
        </div>
        <div *ngIf="!isPhoneCorrect">
          Телефон введен неверно!
        </div>
        <div *ngIf="!isUniversityCorrect">
          Университет не выбран!
        </div>
        <div *ngIf="!isCityCorrect">
          Город не выбран!
        </div>
      </div>
      <button class="btn btn-primary"  (click)="update()">Сохранить</button>
    </div>
  </div>

</div>
