<div class="app-body">
  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Загрузка...</p>
  </ngx-spinner>
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form>
                <h1>Сброс пароля</h1>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" [(ngModel)]="email" class="form-control" placeholder="Email" name="email" required>
                </div>
                <div *ngIf="!isEmailValid"
                     class="alert alert-danger">
                    E-mail введен неверно!
                </div>
                <button type="button" class="btn btn-block btn-success" (click)="reset()">Сбросить пароль</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<ng2-toasty [position]="'bottom-right'"></ng2-toasty>
