<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Информация
    </div>

    <div class="card-body">
      <div class="row">
        <div *ngIf="data.user == null">
          Загрузка...
        </div>
        <div *ngIf="data.user !== null">
          <div style="display: inline-block; vertical-align:top;">
            <div class="imgmain">
              <img [src]="avatar" />
            </div>
          </div>
          <div style="display: inline-block; padding-left: 20px">
            Имя: {{ data.user.first_name }} <br/>
            Фамилия: {{ data.user.last_name }} <br/>
            Отчество: {{ data.user.father_name }} <br/>
            Город: {{ data.user.city.name }} <br/>
            Университет: {{ data.user.university.name }} <br/>
            E-mail: {{ data.user.email }} <br/>
            Телефон: {{ data.user.phone }}
          </div>
        </div>
      </div>


    </div>
  </div>

</div>
