<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Список курсов
    </div>
    <div class="card-body">
      <ul class="list-group">
        <div *ngIf="courses == null">
          Загрузка...
        </div>
        <div *ngIf="courses !== null">
          <li *ngFor="let course of courses.data.courses" class="list-group-item">
            <div class="row">
              <div class="col-md-1">
                <div style="display: inline-block; vertical-align:top;">
                  <div class="imgmain">
                    <img [src]="'http://it-univer43.catkov.beget.tech/uploads/' + course.logo" />
                  </div>
                </div>
              </div>
              <div class="col-md-9">
                <div style="display: inline-block; padding-left: 20px">
                    <b> {{ course.name }}</b><br/>
                    {{ course.description }} <br/>
                    <span class="badge badge-primary">{{ course.company.name }} </span><br/>
                    <span class="badge badge-primary">{{ course.university.name }} </span><br/>
                </div>
              </div>
              <div class="col-md-2">
                <div style="display: inline-block; float: right">
                  <button class="btn btn-primary" (click)="subscribeForCourse(course.id)">Подписаться</button>
                </div>
              </div>
            </div>
          </li>
        </div>
      </ul>

    </div>
  </div>

</div>
