<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Список курсов
    </div>
    <div class="card-body">
      <ul class="list-group">
        <div *ngIf="courses == null">
          Загрузка...
        </div>
        <div *ngIf="courses !== null">
        <li *ngFor="let instance of availableCourses" class="list-group-item">
          <div class="row">
            <div class="col-md-1">
            <div style="display: inline-block; vertical-align:top;">
              <div class="imgmain">
                <img [src]="'http://it-univer43.catkov.beget.tech/uploads/' + instance.course.logo" />
              </div>
            </div>
            </div>
            <div class="col-md-9">
              <div style="padding-left: 20px; display: inline-block">
                Название: <b> {{ instance.course.name }}</b><br/>
                Описание: {{ instance.course.description }} <br/>
                Расписание: <br/> {{ instance.schedule }} <br/>
                Дата начала: {{ instance.start_date | date: 'dd.MM.yyyy' }} <br/>
                Дата окончания: {{ instance.end_date | date: 'dd.MM.yyyy' }} <br/>
                Дата окончания подачи заявок: {{ instance.apply_end_date | date: 'dd.MM.yyyy' }} <br/>
                Имя лектора: {{ instance.course.lecturer_name }} <br/>
                <span class="badge badge-primary">{{ instance.course.company.name }} </span><br/>
              </div>
            </div>
            <div class="col-m2-2">
            <div style="display: inline-block; float: right; vertical-align:top">
              <button class="btn btn-primary" (click)="signUpForCourse(instance.id)">Подписаться</button>
            </div>
            </div>
          </div>
        </li>
        </div>
      </ul>

    </div>
  </div>

</div>
