<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Список курсов
    </div>
    <div class="card-body">
      <ul class="list-group">
        <div *ngIf="courseInstances == null">
          Загрузка...
        </div>
        <div *ngIf="courseInstances !== null">
        <li *ngFor="let instance of courseInstances.data.course_instances" class="list-group-item">
          <div class="row">
            <div class="col-md-1">
              <div style="display: inline-block; vertical-align:top;">
                <div class="imgmain">
                  <img [src]="'http://it-univer43.catkov.beget.tech/uploads/' + instance.course_instance.course.logo" />
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div style="display: inline-block; padding-left: 20px">
                Название: <b> {{ instance.course_instance.course.name }}</b><br/>
                Описание: {{ instance.course_instance.course.description }} <br/>
                Компания: {{ instance.course_instance.course.company.name }} <br/>
                Расписание: <br/> {{ instance.course_instance.schedule }} <br/>
                Дата начала: {{ instance.course_instance.start_date | date: 'dd.MM.yyyy' }} <br/>
                Дата окончания: {{ instance.course_instance.end_date | date: 'dd.MM.yyyy' }} <br/>
                Дата окончания подачи заявок: {{ instance.course_instance.apply_end_date | date: 'dd.MM.yyyy' }} <br/>
                Имя лектора: {{ instance.course_instance.course.lecturer_name }}
              </div>
            </div>
            <div class="col-md-2">
              <div style="display: inline-block; float: right">
                <!--<button class="btn btn-primary" [routerLink]="['/courses/edit', instance.id]">Редактировать</button>-->
              </div>
            </div>
          </div>
        </li>
        </div>
      </ul>

    </div>
  </div>

</div>
