<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Список курсов
    </div>
    <div class="card-body">
      <ul class="list-group">
        <div *ngIf="courses == null">
          Загрузка...
        </div>
        <div *ngIf="courses !== null">
        <li *ngFor="let subscription of courses.data.courses" class="list-group-item">
          <div class="row">
            <div class="col-md-1">
            <div style="display: inline-block; vertical-align:top;">
              <div class="imgmain">
                <img [src]="'http://it-univer43.catkov.beget.tech/uploads/' + subscription.course.company.avatar" />
              </div>
            </div>
            </div>
            <div class="col-md-9">
            <div style="display: inline-block; padding-left: 20px">
              Название: <b> {{ subscription.course.name }}</b><br/>
              Описание: {{ subscription.course.description }} <br/>
              Компания: {{ subscription.course.company.name }} <br/>
            </div>
            </div>
            <div class="col-md-2">
            <div style="display: inline-block; float: right">
              <!--<button class="btn btn-primary" [routerLink]="['/courses/edit', instance.id]">Редактировать</button>-->
            </div>
            </div>
          </div>
        </li>
        </div>
      </ul>

    </div>
  </div>

</div>
